.hero-section {
  display: flex;
  margin: 2rem 3rem;
  justify-content: space-between;
  align-items: center;
}
/* .first-section {
  width: 50% !important;
} */
.second-section {
  margin-right: -4rem;
}
.hero-section .one {
  padding: 14px 24px;
  border-radius: 100px;
  background-color: #175cd3;
  border: none;
  color: white;
  font-weight: 600;
}
.hero-section .buttons {
  display: flex;
  gap: 15px;
}
.hero-section .ai {
  display: flex;
  align-items: center;
  gap: 5px;
}
.avatars {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
