.advantage {
  margin: 10rem 3rem;
}
.advantage .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  margin-top: 5rem;
}
.advantage .advantage-1 {
  display: flex;
  gap: 12rem;
  margin-bottom: -3.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
