.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}
.footer .links a {
  display: block;
  text-decoration: none;
  color: #475467;
  margin-top: 0.7rem;
  font-weight: 600;
}
.footer .download {
  display: block;
}
.links p {
  color: #667085;
}
